node_modules
npm-debug.log
yarn-error.log
dist
build
.env
.env.local
.env.*.local
.vite
.DS_Store
Thumbs.db
*.log
.git
.gitignore
*.swp
*.swo
*.bak
.idea
.vscode
*.code-workspace
tmp
*.tmp
__tests__
*.spec.js
*.spec.ts
*.test.js
*.test.ts
